@page
@model DockerSample.Web.Pages.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <h1>DOCKER .NET 5 SAMPLE!</h1>
</div>
</body>
</html> 